a {
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  margin-right: 10px;
}

.errors {
  background: #7B342F;
  color: white;
}

.errors p {
  padding: 5px;
}

.Feedback {
  background-color: #3f51b5;
  background-color: #1E9DFC;
  height: 100%;
}

.Feedback .mdc-layout__content {
}

.Feedback .mdc-layout__content .Register {
  display: flex;
  margin: auto;
  width: auto;
  /*color: #fff;*/
  max-width: 400px;
  /*background-color: #fff;*/
  box-shadow: none;
}

.Feedback .mdc-layout__content .Register .mdc-card__actions {
  margin-left: 8px;
  justify-content: space-between;
}

.mdc-button--primary.mdc-button--raised {
    background-color: #3f51b5;
    background-color: #1F2123;
    color: white;
    color: var(--mdc-theme-text-primary-on-primary, white);
}

.Feedback .mdc-layout__content .Register .mdc-card__primary .mdc-card__title {
  color: #fff;
}

.Feedback .mdc-layout__content .Register .mdc-card__supporting-text .mdc-textfield__label {
  bottom: 0;
}

.Feedback .mdc-layout__content .Register .mdc-card__supporting-text .mdc-textfield__input:-webkit-autofill +
.mdc-textfield__label {
  bottom: 12px;
}
